@page "{id:int}" 
@model JsonMvcApp.Pages.Products.DeleteModel

<h1>Удаление товара</h1>

<p>Вы действительно хотите удалить товар?</p>

<div>
    <p><b>ID: </b> @Model.Product.Id</p>
    <p><b>Название: </b> @Model.Product.Name</p>
    <p><b>Цена: </b> @Model.Product.Price</p>
    <p><b>Описание: </b> @Model.Product.Description</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Product.Id" />

    <button type="submit">Удалить</button>
    <a asp-page="/Products/Index">Отмена</a>
</form>